<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.bap.metropol</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/node</string>
    <string>/Users/Handan/bap-kopru/metropol.mjs</string>
  </array>
  <key>WorkingDirectory</key><string>/Users/Handan/bap-kopru</string>
  <key>StandardOutPath</key><string>/Users/Handan/bap-kopru/metropol_cron.log</string>
  <key>StandardErrorPath</key><string>/Users/Handan/bap-kopru/metropol_cron.log</string>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>0</integer><key>Minute</key><integer>55</integer></dict>
    <dict><key>Hour</key><integer>12</integer><key>Minute</key><integer>25</integer></dict>
    <dict><key>Hour</key><integer>18</integer><key>Minute</key><integer>25</integer></dict>
  </array>
</dict>
</plist>
